<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
          crossorigin="anonymous"></script>
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

  <title>Mis Wallets</title>
</head>
<body class="container-fluid mt-4">
<h2 class="text-center mb-4">Mis Transacciones</h2>
<table class="table table-dark table-striped">
  <tr>
    <th class="text-center">TxID de Wallet</th>
    <th class="text-center">Criptomoneda</th>
    <th class="text-center">Precio de compra (BUSD)</th>
    <th class="text-center">Cantidad Comprada</th>
  </tr>
  <tr th:each="" >
    <td class="text-center" ></td>
    <td class="text-center" ></td>
    <td class="text-center" ></td>
    <td class="text-center" ></td>
  </tr>
</table>

</body>
</html>