
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
                crossorigin="anonymous"></script>
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

        <title>Mis Transacciones</title>
    </head>
    <body class="container-fluid mt-4">
        <h2 class="text-center mb-4">Registro de Transacciones</h2>

        <form method="post" th:action="@{/transaction/RegistrarTransaction}">
            <h3 class="pb-2 border-bottom">Ingrese los datos donde corresponde</h3>
            <form th:object="${transaction}">
                <div class="mb-3">
                    <label class="form-label">Descripción de la Tx</label>
                    <input class="form-control" th:field="*{transaction.description}">
                </div>
                <div class="mb-3">
                    <div class="form-floating">
                        <select class="form-select">
                            <option th:each="currency : ${listaCarros}" th:value="${carro.marca}" th:text="${carro.marca}">Nissan</option>
                        </select>
                        <label>Lista de carros</label>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label">Número de Tx</label>
                    <input class="form-control" th:value="${transaction.tx_id}">
                </div>
                <div class="mb-3">
                    <label class="form-label">Cantidad de Monedas</label>
                    <input class="form-control" th:value="${transaction.amount}">
                </div>
                <div class="mb-3">
                    <label class="form-label">Comision de la Red</label>
                    <input class="form-control" th:value="${transaction.network_fee}">
                </div>
                <div class="mb-3">
                    <label class="form-label">Número de Bloque</label>
                    <input class="form-control" th:value="${transaction.block}">
                </div>
                <div class="mb-3">
                    <label class="form-label">Estado</label>
                    <input class="form-control" th:value="${transaction.status}">
                </div>
                <div class="mb-3">
                    <label class="form-label">Billetera</label>
                    <input class="form-control" th:value="${transaction.wallet_idwallet}">
                </div>
            </form>
        </form>

    </body>
</html>